<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Mes feeds</a></li>
            <li *ngFor="let channel of homeChannels">
                {{ channel.title }}
            </li>
            <li class="bottom-new-feed" id="newfeed"><a (click)="modal.show()"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i> Ajouter un nouveau feed</a></li>
            <li class="bottom-logout"><a (click)="logout($event)">Se déconnecter</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <modal>
            <div class="modal-header">
                <h3>Ajoutez vos flux RSS ici !</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="feedinput">Url du flux :</label>
                    <input (keypress)="onKey($event)" type="text" class="form-control" id="feedinput">
                    <button (click)="newFeeds(feedSearch)"id="searchBtn" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </modal>
        <div class="content">
            <h2>Les articles récents</h2>
            <feed *ngFor="let feed of homeFeeds" [content]="feed"></feed>
        </div>
    </div>
</div>